{% extends 'base.html.twig' %}
{% block title %}401 Non authentifié{% endblock %}
{% block body %}
<h1>401 - Vous devez vous connecter</h1>
<p>Accès réservé aux utilisateurs connectés.</p>
{% endblock %}
